@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

#external-events {
  border-radius: 20px;
  z-index: 2;
  padding: 10px;
  font-size: 12px;
  background: #eee;
}

#external-events .fc-event {
  margin: 1em 0;
  padding: 2px;
  cursor: pointer;
}

#calendar {
  padding:10px;
  font-size: 12px;
  animation: fade 1.0s;
  transition: font-size 1.0s ease-in-out;
  /* max-height: 500px; */
}

#calendar-container {
  
  padding: 15px;
  border-radius: 20px;
  z-index: 1;
  background-color: white;
}