#external-events {
  border-radius: 20px;
  z-index: 2;
  padding: 10px;
  font-size: 12px;
  background: #eee;
}

#external-events .fc-event {
  margin: 1em 0;
  padding: 2px;
  cursor: pointer;
}
#calendar {
  max-height: 550px;
}
#calendar-container {
  font-size: 10px;
  padding: 15px;
  border-radius: 20px;
  z-index: 1;
  background-color: white;
}